# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*.caches
.env

#backend stuff
backend/bin
backend/Properties
backend/appsettings.json
backend/appsettings.Development.json
backend/obj

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


model/__pycache__
model/ml-latest-small
recommender_env
